.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #4b674a;
  padding: 1rem 0 1rem 1rem;
  margin-bottom: 0.5rem;
  position: relative;

  .task-title {
    flex-basis: 70%;
  }

  .task-actions {
    flex-basis: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .finish-action {
    &-button {
      border: 0;
      border-radius: 40%;
      padding: 0.5rem;
      width: 50%;
      background-color: #4b674a;
    }
    &-icon {
      fill: white;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .info-action {
    &-button {
      border: 0;
      padding: 0.5rem;
      width: 50%;
      border-radius: 40%;
      background-color: transparent;
    }

    &-icon {
      fill: white;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .task-time {
    position: absolute;
    display: block;
    font-size: 0.7rem;
    color: gray;
    bottom: 0;
    right: 0;
  }
}

.toggle-description {
  transform: scaleY(0);
  transition: transform 0.2s ease-in;
  height: 0;

  &-visible {
    transform: scaleY(1);
    transition: transform 0.2s ease-out;
    height: auto;
  }

  &-text {
    word-wrap: break-word;
    margin-left: 1rem;
    font-style: italic;
  }
}
