.tasks-container {
  max-width: 800px;
  margin: 0 auto;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin: 0;
  }

  li {
      flex-basis: 100%;
      word-wrap: break-word;
  }
}
