.bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    background-color: #4b674a;
    padding: 1rem;

    &.active {
      background-color: #303f2e;
    }
  }

  .icon {
    @media (min-width: 768px) {
      width: 32px;
      height: 32px;
    }
    width: 16px;
    height: 16px;
  }
}
