.header {
  display: flex;
  width: 100%;
  height: 4.375rem;
  background-color: #117722;
  align-items: center;
  justify-content: center;
  padding: env(safe-area-inset-top, 1rem);
  position: absolute;
  top: 0;
  right: 0;

  .title {
    font-size: 2rem;
    margin: 0;
    margin-left: 1rem;
    font-family: 'Michroma', cursive;
    color: white;
    letter-spacing: 0.25rem;
  }
}
