.header {
  display: flex;
  width: 100%;
  height: 4.375rem;
  background-color: #1f1f1f;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  @media screen and (max-width: 770px) {
    justify-content: center;
  }

  & .title {
    font-size: 2rem;
    margin: 0;
    margin-left: 1rem;
    font-family: "Michroma", regular;
    color: #4caf50;
    letter-spacing: 0.25rem;
  }

  & .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.375rem;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 12rem;
    color: #4caf50;
    padding-right: 20px;

    @media screen and (max-width: 770px) {
      display: none;
    }

    & li:last-child {
      margin-left: 10px;
    }

    & li {
      height: 100%;
      width: 100%;
    }

    & li:hover {
      a {
        color: #4caf50;
      }
    }

    & a {
      flex-basis: 50%;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-family: "Michroma", regular;
      position: relative;
    }

    & a:after {
      position: absolute;
      content: "";
      display: block;
      bottom: 2px;
      left: 0;
      width: 0;
      height: 2.5px;
      background-color: #4caf50;
      transition: width 200ms linear;
      z-index: 10;
    }

    & a:hover::after {
      width: 100%;
    }

    & a.active::after {
      width: 100%;
    }

    & a.active {
      color: #4caf50;
    }

    & a {
      color: white;
      text-decoration: none;
    }
  }
}
