.tasks-container {
  display: grid;
  grid-template-columns: 100%;
  margin-top: 1rem;

  .info-text {
    font-size: 1.2rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;

    .number-of-tasks {
      color: #4b674a;
      font-size: 2rem;
    }
  }

  .add-task {
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 48px;
    height: 48px;
  }
}
