.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    flex-direction: column;
    background-color: #4b674a;
    color: gray;
    text-decoration: none;
    padding-top: 0.35rem;

    &.active {
      background-color: #303f2e;
      border-top: 2px solid white;
      color: white;
    }

    &.active .icon {
      fill: white;
    }
  }

  .icon {
    @media (min-width: 768px) {
      width: 32px;
      height: 32px;
    }
    width: 16px;
    height: 16px;
    fill: gray;
  }
}
