.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;

  @media (min-width: 768px) {
    display: none;
  }

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    flex-direction: column;
    background-color: #063e66;
    color: gray;
    text-decoration: none;
    padding-top: 0.35rem;

    &.active {
      background-color: #063e66;
      border-top: 2px solid white;
      color: white;
    }

    &.active .icon {
      fill: white;
    }
  }

  .icon {
    width: 16px;
    height: 16px;
    fill: gray;
  }
}
